<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-6 col-sm-6 col-sm-offset-6">
      <div class="form-login">
        <h2>Sign up</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        placeholder: "bob.scaffold@gmail.com",
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        placeholder: "••••••",
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        placeholder: "••••••",
                        input_html: { autocomplete: "new-password" } %>

            <%= f.input :phone_number,
                        placeholder: "+44" %>
            <%= f.input :first_name,
                        placeholder: "Bob" %>
            <%= f.input :last_name,
                        placeholder: "Scaffold" %>
            <%= f.input :location %>
            <%= f.input :role, as: :radio_buttons, label: "I am a:", collection: %w[Business Influencer] %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Next", class: "signup btn-outline-light" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
