<div class="container py-5">
  <h1>Profile</h1>
  <% if current_user.influencer %>
    <div class="d-flex flex-column align-items-center justify-content-center">
      <%= cl_image_tag current_user.influencer.photo.key, class:"w-50 mb-5" %>
      <h3><%= @user.first_name %> <%= @user.last_name %></h3>
    </div>
    <div class="d-flex justify-content-around m-5">
      <div>
        <p><i class="fas fa-restroom"></i> <%= @user.influencer.gender %></p>
        <p><i class="fas fa-envelope"></i> <%= @user.email %></p>
        <p><i class="fas fa-map-marked-alt"></i> <%= @user.location %></p>
        <p><i class="fas fa-phone-alt"></i> <%= @user.phone_number %></p>
      </div>

      <div>
        <p><i class="fab fa-youtube card-icon"></i> <%= @user.influencer.youtube_channel_name %> <%= @user.influencer.youtube_subscribers/1000 %>k</p>
        <p><i class="fab fa-twitter card-icon"></i> <%= @user.influencer.twitter_username %> <%= @user.influencer.twitter_followers/1000 %>k</p>
        <p><i class="fab fa-instagram card-icon"></i> <%= @user.influencer.ig_username %> <%= @user.influencer.ig_followers/1000 %>k</p>
        <p><i class="fab fa-facebook card-icon"></i> <%= @user.influencer.facebook_username %> <%= @user.influencer.facebook_followers/1000 %>k</p>
      </div>
    </div>
  <% elsif current_user.business %>
    <div class="d-flex flex-column align-items-center justify-content-center">
      <%= cl_image_tag current_user.business.photo.key, class:"w-50 mb-5" %>
      <h3> <%= @user.business.company_name %></h3>
      <p> <%= @user.first_name %> <%= @user.last_name %></p>
      <p><i class="fas fa-envelope"></i> <%= @user.email %></p>
      <p><i class="fas fa-map-marked-alt"></i> <%= @user.location %></p>
      <p><i class="fas fa-phone-alt"></i> <%= @user.phone_number %></p>
      <p><i class="fas fa-link"></i> <%= @user.business.company_url %></p>
    </div>
  <% end %>
</div>
