<div class="card-proposal-outer">
  <div class="card-proposal" data-toggle="modal" data-target="#modal-<%= proposal.id %>">
    <% if partner %>
      <%= cl_image_tag partner.photo.key, class:"avatar-bordered large" if partner.photo.attached?%>
      <h6>
        <% if partner.instance_of? Business %>
          <p><%= partner.company_name %></p>
        <% else %>
          <p>
            <%= partner.user.first_name + ' ' + partner.user.last_name %>
            <% case partner.gender %>
            <% when "Male" %>
              <i class="fas fa-male"></i>
            <% when "Female" %>
              <i class="fas fa-female"></i>
            <% end %>
          </p>
        <% end %>
      </h6>
    <% end %>
    <p class="card-proposal-title"><%= proposal.title %></p>
  </div>
  <% influencer_condition = proposal.status == "Pending" && partner.instance_of?(Business) && proposal.creator == "Business" %>
  <% business_condition = proposal.status == "Pending" && partner.instance_of?(Influencer) && proposal.creator == "Influencer" %>
  <% if influencer_condition || business_condition %>
    <%= render "proposals/form_accept", proposal: proposal %>
    <%= render "proposals/form_decline", proposal: proposal %>
  <% else %>
    <p class="card-proposal-status"><%= proposal.status %></p>
  <% end %>
</div>
