<div class="card-proposal-outer">
  <div class="card-proposal" data-toggle="modal" data-target="#modal-<%= proposal.id %>" >
    <% if partner %>
      <%= cl_image_tag partner.photo.key, class:"avatar-bordered large" if partner.photo.attached?%>
      <h6>
        <% if partner.instance_of? Business %>
          <p><%= partner.company_name %></p>
        <% else %>
          <p>
            <%= partner.user.first_name + ' ' + partner.user.last_name %> <small>(<%= partner.gender %>)</small>
          </p>
        <% end %>
      </h6>
    <% end %>
    <div class="card-proposal-title">
      <p><strong><%= proposal.campaign.name if current_user.role == "Influencer" %></strong></p>
      <p><%= proposal.title %></p>
    </div>
  </div>
  <div class="d-flex">
  <% influencer_condition = proposal.status == "Pending" && partner.instance_of?(Business) && proposal.creator == "Business" %>
  <% business_condition = proposal.status == "Pending" && partner.instance_of?(Influencer) && proposal.creator == "Influencer" %>
  <% if influencer_condition || business_condition %>
    <%= render "proposals/form_accept", proposal: proposal %>
    <%= render "proposals/form_decline", proposal: proposal %>
  <% else %>
    <%= render "proposals/form_mark_as_done", proposal: proposal if proposal.status == "In Progress" && current_user.role == "Influencer" %>
    <%= render "proposals/form_mark_as_paid", proposal: proposal if proposal.status == "Pending Payment" && current_user.role == "Business" %>
    <p class="card-proposal-status"><%= proposal.status %></p>
  <% end %>
  </div>
</div>
