<div class="modal fade" id="modal-<%= influencer.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="influencer-modal">
          <div class="profile-pic text-center"><%= cl_image_tag influencer.photo.key, class:"avatar-bordered xxlarge m-3" if influencer.photo.attached? %></div>
          <div class="influencer-name text-center"><%= "#{influencer.user.first_name} #{influencer.user.last_name}" %></div>
          <div class="influencer-location text-center"><%= influencer.user.location %></div>
          <div class="platforms text-center">
            <p><%= "#{influencer.ig_username} | #{influencer.ig_followers}" %></p>
            <p><%= "#{influencer.twitter_username} | #{influencer.twitter_followers}" %></p>
            <p><%= "#{influencer.youtube_channel_name} | #{influencer.youtube_subscribers}" %></p>
            <p><%= "#{influencer.facebook_username} | #{influencer.facebook_followers}" %></p>
          </div>
      </div>
      <div class="modal-footer">
        </div>
    </div>
  </div>
</div>
