<%if @proposals.size == 0 %>
  <div class="d-flex justify-content-between">
    <h4>You have no active collaborations at the moment. Create your first collaboration now!</h4>
  </div>
<%else%>
  <div class="cards-statistic">
    <div class="card-statistic position margin-style">
      <div class="card-statistic-circle">
        <strong><%= p = @proposals.select { |p| !(p.status == "Completed" || p.status == "Declined" || p.status == "Pending" ) }.size %></strong>
        <p>My current <%= p <= 1 ? 'collaboration' : 'collaborations' %></p>
      </div>
    </div>

    <div class="card-statistic">
      <div class="card-statistic-circle">
        <strong><%= current_user.influencer.ig_followers / 1000 %>k</strong>
        <p>My total estimated reach</p>
      </div>
    </div>

    <div class="card-statistic position">
      <div class="card-statistic-circle">
        <!-- update money - [ ] Money earned: followers/1000*15*proposal completed -->
        <strong>£ <%= current_user.influencer.ig_followers / 1000 * 15 * @proposals.select { |p| p.status == "Completed" }.size %></strong>
        <p>My money earned</p>
      </div>
    </div>

    <div>
    </div>

    <div class="card-statistic">
      <div class="card-statistic-circle">
        <!-- update reach -->
        <strong><%= a = @proposals.select { |p| !(p.status == "Declined" || p.status == "Pending" ) }.size %></strong>
        <p>All my <%= a <= 1 ? 'collaboration' : 'collaborations' %></p>
      </div>
    </div>
  </div>
<% end %>
