<div class="container py-5">
  <h1 class="my-5">Collaborations Overview</h1>
  <%if @proposals.size == 0 %>
    <div class="d-flex justify-content-between">
      <h4 class="my-5">You have no active collaborations</h4>
      <%= link_to "Find campaigns", campaigns_path %>
    </div>
  <%else%>
    <div class="proposals-group" data-controller="dropdown">
      <div class="dropdown-header">
        <h4>Open</h4>
        <div class="dropdown-btn fas fa-caret-up" data-dropdown-target="btn" data-action="click->dropdown#toggleContent"></div>
      </div>
      <div class="card-container" data-dropdown-target="container">
        <% @proposals.each do |proposal| %>
          <% if proposal.accepted && proposal.status != "Completed" %>
            <%= render "./shared/modal_show_proposal", proposal: proposal, partner: proposal.campaign.business, modal_title: proposal.title %>
            <%= render "./shared/card_proposal", proposal: proposal, partner: proposal.campaign.business %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="proposals-group" data-controller="dropdown">
      <div class="dropdown-header">
        <h4>Pending</h4>
        <div class="dropdown-btn fas fa-caret-up" data-dropdown-target="btn" data-action="click->dropdown#toggleContent"></div>
      </div>
      <div class="card-container" data-dropdown-target="container">
        <% @proposals.each do |proposal| %>
          <% if proposal.status == "Pending" %>
            <%= render "./shared/modal_show_proposal", proposal: proposal, partner: proposal.campaign.business, modal_title: proposal.title %>
            <%= render "./shared/card_proposal", proposal: proposal, partner: proposal.campaign.business %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="proposals-group" data-controller="dropdown">
      <div class="dropdown-header">
        <h4>Closed</h4>
        <div class="dropdown-btn fas fa-caret-up" data-dropdown-target="btn" data-action="click->dropdown#toggleContent"></div>
      </div>
      <div class="card-container" data-dropdown-target="container">
        <% @proposals.each do |proposal| %>
          <% if (proposal.accepted && proposal.status == "Completed") || proposal.status == "Declined" %>
            <%= render "./shared/modal_show_proposal", proposal: proposal, partner: proposal.campaign.business, modal_title: proposal.title %>
            <%= render "./shared/card_proposal", proposal: proposal, partner: proposal.campaign.business %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
