<%= link_to campaign_path(campaign) do %>
  <div class="card-campaign">
    <div class="card-campaign-info">
      <h3><%=campaign.name%></h3>
      <p><i class="far fa-calendar-alt"></i> <%=campaign.start_date%> to <%=campaign.end_date %></p>
    </div>
    <div class="card-campaign-info">
      <p><i class="fas fa-map-marked-alt"></i> <%=campaign.location%></p>
      <p>Pending proposals: <%=campaign.proposals.size%></p>
    </div>
    <div class="card-campaign-ivs">
      <% campaign.proposals.first(3).each do |proposal| %>
        <% if proposal.influencer %>
          <%= cl_image_tag proposal.influencer.photo.key, class:"avatar-bordered large"%>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
