<h1><%= @campaign.name %></h1>
<p><%= @campaign.location %></p>
<p><strong><%= @campaign.start_date %></strong> to <strong><%= @campaign.end_date %></strong></p>
<p><%= @campaign.description %></p>
<p><%= @campaign.budget %></p> <!--hide on influencer -->
