<%= simple_form_for [business, campaign] do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :budget %>
      <%= f.input :location %>
      <%= f.input :start_date, as: :date, html5: true %>
      <%= f.input :end_date, as: :date, html5: true  %>
      <%= f.input :visibility, label: "Make campaign visible to public?", label_html: { class:"blue-font" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Create Campaign", class:"btn btn-create btn-outline-light w-100"%>
    </div>
  <% end %>
