<div class="proposal-card">
  <h5><%= proposal.title %></h5>
  <p><%= proposal.status %></p>
  <p><%= proposal.accepted %></p>
  <p><%= proposal.influencer.user.first_name %> <%= proposal.influencer.user.last_name %></p>
</div>
