
<div class="container py-5">
<%if @campaigns.size == 0 %>
    <h1>You have no active campaigns</h1>
    <div><%=link_to "Create new campaign", new_business_campaign_path(@business)%></div>
  <%else%>
    <h1>Campaigns Overview</h1>
    <div class="form-row">
      <div class="col-4">
        <%= form_tag campaigns_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search for Campaigns" %>
      </div>
      <div class="form-row">
        <%= submit_tag "Search", class: "btn btn-secondary" %>
        <% end %>
      </div>
    </div>
    <%= link_to "Create Campaign", new_business_campaign_path(@business) %>
    <div class="open-campaigns" data-controller="dropdown">
      <h4>Open Campaigns</h4>
      <div class="dropdown-btn" data-dropdown-target="btn" data-action="click->dropdown#toggleContent">Collapse</div>
      <div class="card-container" data-dropdown-target="container">
        <%@open_campaigns.each do |campaign|%>
          <div class="campaign-card">
            <h3><%=campaign.name%></h3>
            <p>Start date: <%=campaign.start_date%></p>
            <p>End date: <%=campaign.end_date %></p>
            <p>Region: <%=campaign.location%></p>
            <p>Pending proposals: <%=campaign.proposals.size%></p>
            <%# <p>IV images go here</p> %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="closed-campaigns" data-controller="dropdown">
      <h4>Closed Campaigns</h4>
      <div class="dropdown-btn" data-dropdown-target="btn" data-action="click->dropdown#toggleContent">Collapse</div>
      <div class="card-container" data-dropdown-target="container">
        <%@closed_campaigns.each do |campaign|%>
          <div class="campaign-card">
            <h3><%=campaign.name%></h3>
            <p>Start date: <%=campaign.start_date%></p>
            <p>End date: <%=campaign.end_date %></p>
            <p>Region: <%=campaign.location%></p>
            <p>Pending proposals: <%=campaign.proposals.size%></p>
            <%# <p>IV images go here</p> %>
          </div>
        <% end %>
      </div>
    </div>
  <%end%>
</div>
