<!DOCTYPE html>
<html>
  <head>
    <title>Influencehorizons</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render 'shared/flashes' %>
    <div class="page-container">
      <div class="navbar-container"><%= render "shared/navbar" %></div>
      <div class="content-container" data-controller="side-bar">
        <% if current_page?(root_path) %>
          <%= yield %>
        <% else %>
          <div class="sidebar-container"><%= render "shared/sidebar" %></div>
            <% if user_signed_in? %>
              <div class="main-container" data-side-bar-target="main">
                <a><i class="fas fa-angle-left" data-action="click->side-bar#toggle" data-side-bar-target="button"></i></a>
                <%= yield %>
              </div>
            <% else %>
              <div class="format-login"><%= yield %></div>
            <% end %>
        <% end %>
      </div>
      <div class="footer-container"><%= render "shared/footer" %></div>
    </div>
  </body>
</html>
